<!doctype html>
<html lang="en">
<head>
    <title><%= post.title %> | Codeshala Blog</title>
    <% include ../../partials/header %>
    <% include ../../partials/metadata %>
</head>
<body>
<% include ../../partials/nav %>
<div class="container-fluid codeshala-banner">
    <div class="container text-center codeshala-course-heading">
        <h1><%= post.title %></h1>
        <p>By <%= post.author %><br/>On <%= time %><br/><%= post.views %> Views</p>
        <br/>
    </div>
</div>

<div class="container">
    <div class="row mx-auto text-center">
        <div class="col-lg-3 col-md-0 col-sm-0 col-xs-0">   </div>
        <div class="card col-lg-6" style="padding:10px;">
            <%- post.body %>
        </div>

    </div>
</div>

<% include ../../partials/footer %>
<button class="expanded large button js-button" disabled style="display:none">Enable Push Notifications</button>
<pre class="js-subscription" style="display:none"></pre>
</body>

<% include ../../partials/footer-scripts %>
<script src="/client.js"></script>
<script>
    $(document).ready(function(){
        var list = document.getElementsByTagName("img");
        console.log(list);
        for(element in list){
            console.log(element);
            list[element].classList.add("img-fluid");
        }
    })
</script>
</html>