<!doctype html>
<html lang="en">
<head>
    <title>Registrations | Batch | Admin | Codeshala | Get Better At Programing By Joining The Best programing courses
        in Delhi NCR</title>
    <% include ../partials/header %>
    <% include ../partials/metadata %>
    <script>
        function csvCopy() {
            var copyText = document.getElementById("csvEmails").value;
            console.log(copyText);
            copyToClipboard(copyText);
            alert('Emails Listed Below Have Been Copied To Your Clipboard, Use Ctrl+v to paste them somewhere.');
        }
        function copyToClipboard(text) {
            if (window.clipboardData && window.clipboardData.setData) {
                // IE specific code path to prevent textarea being shown while dialog is visible.
                return clipboardData.setData("Text", text);

            } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
                var textarea = document.createElement("textarea");
                textarea.textContent = text;
                textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in MS Edge.
                document.body.appendChild(textarea);
                textarea.select();
                try {
                    return document.execCommand("copy");  // Security exception may be thrown by some browsers.
                } catch (ex) {
                    console.warn("Copy to clipboard failed.", ex);
                    return false;
                } finally {
                    document.body.removeChild(textarea);
                }
            }
        }
    </script>
</head>
<body>
<% include ../partials/nav %>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <% include ../partials/admin-menu %>
        </div>
        <div class="col-lg-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Admin Home</a></li>
                    <li class="breadcrumb-item"><a href="/admin/batch">View All Batches</a></li>
                    <li class="breadcrumb-item"><a href="">Registrations</a></li>
                </ol>
            </nav>
            <br/>
            <div class="card">
                <div class="card-header">
                    View Registrations For <u><%= courseName %></u>
                    <input type="text" id="csvEmails" value="<% for(index in students){ %><%= students[index].email %><% if(index < students.length-1){ %>,<% } %><% } %>" hidden>
                    <button type="button" class="btn btn-primary float-right"  onclick="csvCopy()" >Copy Emails</button>
                </div>


                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <% if(students){ %>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone No</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">DOB</th>
                                    <th scope="col">College</th>
                                    <th scope="col">Branch</th>
                                    <th scope="col">Passing Year</th>
                                    <th scope="col">Referer</th>
                                </tr>
                                <% }else{ %>
                                No registrations found for this batch
                                <% } %>

                                </thead>
                                <tbody>
                                <% for(index in students){ %>
                                <tr>
                                    <th scope="row"><%= index %></th>
                                    <td><%= students[index].first_name %> <%= students[index].last_name %></td>
                                    <td><%= students[index].phoneno %></td>
                                    <td><%= students[index].email %></td>
                                    <td><%= students[index].dob %></td>
                                    <td><%= students[index].college %></td>
                                    <td><%= students[index].branch %></td>
                                    <td><%= students[index].year_passing %></td>
                                    <td><%= referer[index] %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
</body>

<% include ../partials/footer-scripts %>
</html>