<!doctype html>
<html lang="en">
<head>
    <title>Courses | Admin | Codeshala | Get Better At Programing By Joining The Best programing courses in Delhi
        NCR</title>
    <% include ../partials/header %>
    <% include ../partials/metadata %>
</head>
<body>
<% include ../partials/nav %>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <% include ../partials/admin-menu %>
        </div>
        <div class="col-lg-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Admin Home</a></li>
                    <li class="breadcrumb-item"><a href="/admin/courses">View All Courses</a></li>
                </ol>
            </nav>
            <br/>
            <div class="card">
                <div class="card-header">
                    View All Courses
                </div>


                <div class="card-body">
                    <div class="row">

                        <% for(key in courses){ %>
                        <div class="col-lg-6">
                            <div class="card" style="width: 18rem;margin:10px;">
                                <!--<img class="card-img-top img-fluid" src="<%= courses[key].courseThumbnail %>"
                                     alt="Course Thumbnail">-->
                                <div class="card-body mx-auto">
                                    <h5 class="card-title">
                                        <img height="100px" src="<%= courses[key].courseThumbnail %>"
                                             alt="Course Thumbnail">
                                        <br/>
                                        <%= courses[key].name %>
                                    </h5>
                                    <p class="card-text"></p>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="card-link">Edit</a>
                                    <a href="#" class="card-link">Hide</a>
                                    <a href="#" class="card-link">Delete</a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Fees:</b> <%= courses[key].fees %></li>
                                    <li class="list-group-item"><b>Sessions:</b> <%= courses[key].minsessions %>
                                        - <%= courses[key].maxsessions %></li>
                                    <li class="list-group-item"><b>Seats: </b> <%= courses[key].seats %></li>
                                    <li class="list-group-item"><b>Currently Open Batches:</b>
                                        <% if(batches){ %>
                                        <ol>
                                            <% for(index in batches){ %>
                                            <% if(batches[index].course_alias === courses[key].alias){ %>
                                            <li>
                                                <a href="/admin/batch/registrations/<%= batches[index]._id %>"><%= batches[index].start_date %>
                                                    - <%= batches[index].end_date %>
                                                    @ <%= batches[index].venue %> [ <%= batches[index].visibility %>
                                                    ]</a>
                                                <br/>
                                                <a href="/admin/batch/update/<%= batches[index]._id %>">Edit</a> | <a
                                                        href="/admin/batch/hide/<%= batches[index]._id %>">Delete</a>
                                            </li>
                                            <% } %>
                                            <% } %>
                                        </ol>
                                        <% }else{ %>
                                        None
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
</body>

<% include ../partials/footer-scripts %>

</html>