<!doctype html>
<html lang="en">
<head>
	<title><%= course.name %> | Codeshala | Get Better At Programing By Joining The Best programing courses in Delhi NCR</title> <% include ../partials/header %>
	<% include ../partials/metadata %>
</head>
<body>
	<% include ../partials/nav %>
	<div class="container-fluid codeshala-banner">
		<div class="container text-center codeshala-course-heading">
			<h1>
				<img src="/assets/images/course-icon/algo.png" height="100px">
				<%= course.name %><br/>				
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/course/<% course.alias %>">Register Now <i class="fa fa-arrow-right"></i></a></span>
			</h1>
			<br/>
			<p><%= course.description %></p>
			<br/><br/><br/>
		</div>
	</div>
	<div class="container" id="courses-registration-section">
		<div class="row mx-auto">
			<div class="card col-lg-11 codeshala-course-registration-card text-left">
				<h3>Register Now</h3>
				<hr/>
				<div class="row">
					<div class="col-lg-4 codeshala-course-registration-border">
						<strong>Step 1 : Choose Batch &amp; Sign In</strong>
					</div>
					<div class="col-lg-4 codeshala-course-registration-border">
						Step 2 : Fill up your details
					</div>
					<div class="col-lg-4 codeshala-course-registration-border">
						Step 3 : Payment & Its Done!
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12 codeshala-course-registration-border">Select the course you want to register for:<br/>
							<select class="custom-select custom-select-lg mb-3" style="margin:20px">
							<option selected>Choose batch slot</option>
							<option value="june2018">June 2018</option>
							</select>
					</div>
					<br/><br/>
					<div class="col-lg-12 codeshala-course-registration-border" style="margin-top:20px">Sign in / Register:<br/>
						<div class="codeshala-github-btn">
							<span class="codeshala-github-btn-icon"><i class="fa fa-github"></i></span> Register to this course using Github
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="courses-section">
		<div class="row mx-auto">
				<div class="card col-lg-5 codeshala-course-card">
					<h2>Duration</h2>
					<p><%= course.minsessions %> - <%= course.maxsessions %> Sessions</p>
					<h2>Fees</h2>
					<p>INR <%= course.fees %>/-</p>
					<h2>Number of seats</h2>
					<p><%= course.seats %></p>
				</div>
				<div class="card col-lg-5 codeshala-course-detail-card sidebar-box">

						<h2>Course Curriculum</h2>

						<ul class="codeshala-course-description-list">
<%= course.courseCurriculum %>	
						</ul>
					<p class="readmore"><a href="#" class="button">Read More</a></p>
				</div>
			<!-- Insert new course above this line-->
		</div>
	</div>
	<div class="container" id="courses-section">
		<div class="row mx-auto">
				<div class="card col-lg-5 codeshala-course-card">

				</div>
				<div class="card col-lg-5 codeshala-course-card">
					
				</div>
		</div>
	</div>
	<div class="container"  id="feedbacks">
		<h3 class="text-dark text-left font-weight-bold">
			Course Feedbacks By Our Students
		</h3>
		<div class="row">
			<div class="card col-lg-12 codeshala-feedbacks-card">
				<div class="row">
					<div class="col-lg-2">
						<img src="assets/images/feedbacks/sample.jpg" height="150px" width="150px">
					</div>
					<div class="col-lg-10">
						<h2 class="codeshala-feedbacks-title">Jatin Bansal </h2>
						<p class="codeshala-feedbacks-description">Placed at Amazon<br/>If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn. </p>
					</div>
				</div>
			</div>
			<div class="card col-lg-12 codeshala-feedbacks-card">
				<div class="row">
					<div class="col-lg-2">
						<img src="assets/images/feedbacks/sample.jpg" height="150px" width="150px">
					</div>
					<div class="col-lg-10">
						<h2 class="codeshala-feedbacks-title">Jatin Bansal </h2>
						<p class="codeshala-feedbacks-description">Placed at Amazon<br/>If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn. </p>
					</div>
				</div>
			</div>
			<div class="card col-lg-12 codeshala-feedbacks-card">
				<div class="row">
					<div class="col-lg-2">
						<img src="assets/images/feedbacks/sample.jpg" height="150px" width="150px">
					</div>
					<div class="col-lg-10">
						<h2 class="codeshala-feedbacks-title">Jatin Bansal </h2>
						<p class="codeshala-feedbacks-description">Placed at Amazon<br/>If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn. </p>
					</div>
				</div>
			</div>
		</div>

	</div>	
	<div class="container-fluid codeshala-placements" id="placements">
		<div class="container">
			<h3 class="text-light text-center font-weight-bold">
				Confused on which course you should choose?<br/>					
				<span class="text-center codeshala-theme codeshala-course-card-btn">
				<a href="/courses/node-js" class="text-light">
				Try our course finder tool 
				<i class="fa fa-arrow-right"></i>
				</a>
				</span>

			</h3>
		</div>
	</div>
	<% include ../partials/footer %>
</body>

<% include ../partials/footer-scripts %>

</html>