<!doctype html>
<html lang="en">
<head>
    <title>CODESHALA - GET BETTER AT PROGRAMING</title>
    <% include ../partials/header %>
    <% include ../partials/metadata %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <style>
        .slick-next:before, .slick-prev:before {
            color: #191919;
        }
    </style>
</head>
<body>
<% include ../partials/nav %>
<div class="container text-center codeshala-heading" id="about-section">
    <h1><span style="color:#fd8900">CODE</span><span style="color:#0289fe">SHALA</span><br/>GET BETTER AT PROGRAMING
    </h1>
    <p class="d-none d-lg-block d-xl-block">
        We are community of programmers. Our community is lead by professionals who have broad experience in competitve
        programming and software development. Our community mentors are working at top companies and providing
        mentorship to candidates across different colleges. We provide learning courses to make you a better programmer.
    </p>
    <span class="text-center codeshala-theme codeshala-course-card-btn">
		<span id="btnCourseChooser" style="display: block;">
        <!--<a href="/tools/course-chooser" data-toggle="modal" data-target="#CourseChooserModal">
				<small>Not able to decide which course to join?</small>
				<br/>Try our course chooser
        </a>-->
            <a href="/campus-ambassador" data-toggle="modal" data-target="#CourseChooserModal">
				Become Codeshala's Campus Ambassador
				<br/>Apply Now
        </a>
        </span>
        <br/>
        <span id="btnAdd" style="display:none;">Enjoy a better experience on this platform
        <br/>Click here and Add Codeshala To Your Homescreen
        </span>
		</span>
</div>
<hr>
<div class="container text-center" id="courses-section">
    <div class="row mx-auto">
        <% for(key in courses){ %>
        <div class="card col-lg-3 codeshala-course-card">

            <% for(index in batch){
            if(batch[index].course_alias === courses[key].alias){ %>
            <div class="ribbon ribbon-top-left"><span>Open</span></div>
            <% break;}
            } %>

            <div class="codeshala-course-thumbnail"
                 style="background-image:url(<%= courses[key].courseThumbnail %>);background-size:cover;background-repeat: no-repeat;"></div>
            <h2><a href="/course/<%= courses[key].alias %>"><%= courses[key].name %></a></h2>
            <h2>
                <% if(batch.length){ %>
                <% for(index in batch){
                if(batch[index].course_alias == courses[key].alias){ %>
                Starting From <%= batch[index].start_date %><br/>
                <% } } } %>
            </h2><br/><br/>
            <p><%= courses[key].minsessions %> - <%= courses[key].maxsessions %>
                Sessions<br/><%= courses[key].description %></p>
            <span class="text-center codeshala-theme codeshala-course-card-btn"><a
                        href="/course/<%= courses[key].alias %>">Explore more &amp; register <i
                            class="fa fa-arrow-right"></i></a></span>
        </div>
        <% } %>
        <!-- Insert new course above this line-->
    </div>
</div>
<div class="container text-center mx-auto" id="clients">
    <h3 class=" text-dark text-center font-weight-bold">
        Our Happy Clients
    </h3>
    <div class="row mx-auto" style="position:relative">
        <div class="card col-lg-3 codeshala-projects-card">
            <a href="http://ymcaust.ac.in/" target="_blank" rel="noopener">
                <div class="codeshala-projects-thumbnail"
                     style="background-image:url(/assets/images/clients/ymca.png);background-size: contain;background-repeat: no-repeat;"></div>
                <h2 class="codeshala-projects-title">YMCA University Of Science &amp; Technology, Faridabad</h2>
                <span class="text-center codeshala-theme codeshala-course-card-btn">Website</span>
            </a>
        </div>
        <div class="card col-lg-3 codeshala-projects-card">
            <a href="http://www.apeejay.edu" target="_blank" rel="noopener">
                <div class="codeshala-projects-thumbnail"
                     style="background-image:url(/assets/images/clients/apeejay_education_society.jpg);background-size: contain;background-repeat: no-repeat;"></div>
                <h2 class="codeshala-projects-title">Apeejay Education Society<br/></h2>
                <span class="text-center codeshala-theme codeshala-course-card-btn">Website</span>
            </a>
        </div>

        <div class="card col-lg-3 codeshala-projects-card">
            <a href="http://www.aadyant.com" target="_blank" rel="noopener">
                <div class="codeshala-projects-thumbnail"
                     style="background-image:url(/assets/images/clients/aadyant_school.png);background-size: contain;background-repeat: no-repeat;"></div>
                <h2 class="codeshala-projects-title">Aadyant School<br/></h2>
                <span class="text-center codeshala-theme codeshala-course-card-btn">Website</span>
            </a>
        </div>
    </div>
</div>
<div class="container text-center" id="stats">
    <h3 class=" text-dark text-center font-weight-bold">
        Stats that make us proud
    </h3>
    <div class="row mx-auto text-center float-center">
        <div class="codeshala-stats-card mx-auto">
            <span class="codeshala-stats-card-count">300+</span><br/><br/><span>Students Trained</span>
        </div>
        <div class="codeshala-stats-card  mx-auto">
            <span class="codeshala-stats-card-count">200+</span><br/><br/><span>Placements</span>
        </div>
        <div class="codeshala-stats-card  mx-auto">
            <span class="codeshala-stats-card-count">1000+</span><br/><br/><span>Hours Of Teaching</span>
        </div>
        <div class="codeshala-stats-card  mx-auto">
            <span class="codeshala-stats-card-count">10+</span><br/><br/><span>Projects</span>
        </div>
    </div>
</div>
<div class="container text-center" id="projects">
    <h3 class=" text-dark text-center font-weight-bold">
        Projects developed by our geeks
    </h3>
    <div class="row mx-auto" style="position:relative">
        <div class="card col-lg-3 codeshala-projects-card">
            <div class="codeshala-projects-thumbnail"
                 style="background-image:url(/assets/images/projects/doodle-pen.png)"></div>
            <p class="codeshala-projects-title">Doodle Pen</p>
            <p class="codeshala-projects-description">A code editor IDE for Web developers. Supports HTML, CSS And
                JavaScript</p>
            <span class="text-center codeshala-theme codeshala-course-card-btn"><a
                        href="https://doodlepen.herokuapp.com">View Demo  <i class="fa fa-arrow-right"></i></a></span>
        </div>
        <div class="card col-lg-3 codeshala-projects-card">
            <div class="codeshala-projects-thumbnail"
                 style="background-image:url(/assets/images/projects/dock_url.png)"></div>
            <p class="codeshala-projects-title">Dock URL</p>
            <p class="codeshala-projects-description">A short URL Website</p>
            <span class="text-center codeshala-theme codeshala-course-card-btn"><a href="https://dockurl.herokuapp.com">View Demo  <i
                            class="fa fa-arrow-right"></i></a></span>
        </div>
        <!--
            <div class="codeshala-arrow"><a href="/projects">View all projects <i class="fa fa-arrow-right"></i></a></div>-->
    </div>
</div>
<!-- Feedback Section -->
<div class="container" id="feedbacks">
    <h3 class="text-dark text-center font-weight-bold">
        Course Feedbacks By Our Students
    </h3>

    <div class="row feedback-slick">

        <% for(index in feedbacks){ %>
        <div class="card col-lg-3 codeshala-feedbacks-card">
            <div class="row">
                <div class="col-lg-12">
                    <!--<img src="/assets/favicon/favicon-96x96.png" data-src="/assets/images/feedbacks/sample.jpg"
                         class="lazy" alt="feedback-thumbnail" height="150px"
                         width="150px">-->
                </div>
                <div class="col-lg-12">
                    <p class="codeshala-feedbacks-title"><%= feedbacks[index].first_name %>
                        &nbsp;<%= feedbacks[index].last_name %> </p>
                    <p class="codeshala-feedbacks-description">
                        <% if(feedbacks[index].intern_at){ %>
                        Intern at <%= feedbacks[index].intern_at %>
                        <% } if(feedbacks[index].placed_at){ %>
                        | Placed at <%= feedbacks[index].placed_at %>
                        <% } %>
                        <br/>
                        <%= feedbacks[index].feedback %>
                    </p>
                </div>
            </div>
        </div>
        <% } %>

    </div>
</div>
<div class="container-fluid codeshala-placements" id="placements">
    <div class="container">
        <h3 class="text-light text-center font-weight-bold container">
            Codeshala Students Are Placed At
        </h3>
        <div class="row mx-auto">
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/amazon.png" alt="Amazon"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/samsung.png" alt="Samsung"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/paytm.png" alt="PayTM"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/mediatek.png" alt="Mediatek"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/sprinklr.png" alt="Sprinklr"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/adobe.png" alt="Adobe"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/opera.png" alt="Opera"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/sapient.png" alt="Sapient"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/squadrun.png" alt="Squadrun"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/smartprix.png" alt="Smartprix"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/st.png" alt="ST"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/magicpin.png" alt="MagicPin"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/tcs.png" alt="TCS"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/daffodil.png" alt="Daffodil"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/capegemini.png" alt="Capegemini"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <div class="col-lg-3 mx-auto">
                <img src="/load.gif" data-src="/assets/images/libsys.png" alt="Libsys"
                     class="lazy img-fluid codeshala-company-image">
            </div>
            <!--Add new logos above this line-->
        </div>

    </div>
</div>
<% include ../partials/footer %>
<button class="expanded large button js-button" disabled style="display:none">Enable Push Notifications</button>
<pre class="js-subscription" style="display:none"></pre>
</body>

<% include ../partials/footer-scripts %>
<script src="/client.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.feedback-slick').slick({
            arrow: true,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: true,
            infinite: true,
            mobileFirst: true,
            pauseOnFocus: false,
            rows: 1,
            slidesPerRow: 3,
            slidesToShow: 3,
            slidesToScroll: 1,
            swipe: true,
            swipeToSlide: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });

</script>
<script>
    var lazy = [];

    function setLazy() {
        lazy = document.getElementsByClassName('lazy');
    }

    function lazyLoad() {
        for (var i = 0; i < lazy.length; i++) {
            if (isInViewport(lazy[i])) {
                if (lazy[i].getAttribute('data-src')) {
                    lazy[i].src =
                        lazy[i].getAttribute('data-src');

                    // remove the attribute
                    lazy[i].removeAttribute('data-src');
                }
            }
        }

        cleanLazy();
    }

    function cleanLazy() {
        lazy =
            Array.prototype.filter.call(
                lazy,
                function (l) {
                    return l.getAttribute('data-src');
                }
            );
    }

    function registerListener(event, func) {
        if (window.addEventListener) {
            window.addEventListener(event, func)
        } else {
            window.attachEvent('on' + event, func)
        }
    }

    function isInViewport(el) {
        var rect = el.getBoundingClientRect();

        return (
            rect.bottom >= 0 &&
            rect.right >= 0 &&

            rect.top <= (
                window.innerHeight ||
                document.documentElement.clientHeight) &&

            rect.left <= (
                window.innerWidth ||
                document.documentElement.clientWidth)
        );
    }

    registerListener('load', lazyLoad);
    registerListener('load', setLazy);
    registerListener('scroll', lazyLoad);
</script>
</html>